
.div3{text-align: center; align-content:center; border-left: 10px ridge #FF89AF  ; border-right: 10px ridge #FF89AF  ; margin-left:40px; margin-right:40px; background-color:#FFD9EB  }
.div{ margin-left:20px;  margin-right:20px;  }
.div2{  border: 6px solid #E8559A ; background-color:#F18BBB  }
.div4{text-align: center; align-content:center; border-left: 10px ridge #FF89AF  ; border-right: 10px ridge #FF89AF  ; margin-left:40px; margin-right:40px; background-color:white;  }
.div5{text-align: center; align-content:center; border-left: 10px ridge #FF89AF  ; border-right: 10px ridge #FF89AF  ; margin-left:40px; margin-right:40px; background-color:#F18BBB   }

.td1{ width:30%; border-right:#E8559A  }
.td2{ width:70%;  }
.h2{ color:#FF89AF  ; margin:0px; text-align:center; font-size: 50px; border-radius: 50%; width:600px; -webkit-text-stroke: 0.5px #EE1B5E   ; font-family:Jokerman; font-weight:10px; } 


.div6{text-align: center; align-content:center; border-left: 10px ridge #A2CFF9   ; border-right: 10px ridge #A2CFF9  ; margin-left:40px; margin-right:40px; background-color:#8DC3F0  }
.div10{ margin-left:20px;  margin-right:20px;  }
.div7{  border: 6px solid #7099F7  ; background-color:#2A699D  }
.div8{text-align: center; align-content:center; border-left: 10px ridge #A2CFF9  ; border-right: 10px ridge #A2CFF9  ; margin-left:40px; margin-right:40px; background-color:white;  }
.div9{text-align: center; align-content:center; border-left: 10px ridge #A2CFF9   ; border-right: 10px ridge #A2CFF9   ; margin-left:40px; margin-right:40px; background-color:#2A699D  }

.td3{ width:30%; border-right:#E8559A  }
.td4{ width:70%;  }
.divz{ margin-bottom:100px }



.div62{text-align: center; align-content:center; border-left: 10px ridge #FFF57F    ; border-right: 10px ridge #FFF57F   ; margin-left:40px; margin-right:40px; background-color:#FAFDC5   }
.div102{ margin-left:20px;  margin-right:20px;  }
.div72{  border: 6px solid #FFF03F  ; background-color:#F8FF8C   }
.div82{text-align: center; align-content:center; border-left: 10px ridge #FFF57F   ; border-right: 10px ridge #FFF57F   ; margin-left:40px; margin-right:40px; background-color:white;  }
.div92{text-align: center; align-content:center; border-left: 10px ridge #FFF57F    ; border-right: 10px ridge #FFF57F    ; margin-left:40px; margin-right:40px; background-color:#F8FF8C    }

.td32{ width:30%; border-right:#E8559A  }
.td42{ width:70%;  }
.P1 { font-size:30px; font-family:Elephant;}

.h3{ font-size:30px; }