.h2{ color:#F7F9A1  ; margin:0px; text-align:center; font-size: 50px; border-radius: 50%; width:1200px; -webkit-text-stroke: 0.5px #EEEB2B  ; font-family:Jokerman; font-weight:10px; } 
td{ width:20%; border:2px solid #EEEB2B	 }
.tr1{ font-size:30px; text-align:center; color: black; font-family:Jokerman;  }
table{ border:4px double #EEEB2B ; margin-top: 20px    }
.tr2{ font-size:25px; text-align:center; color: black;   }
.h3{ font-size:30px }
.style{background-color:#F7F9A1; width: 90%;   }